@mixin flexbox($dir: column) {
  display: flex;
  flex-direction: $dir;
}

@mixin boxsize($x: 100%, $y: 100%) {
  width: $x;
  height: $y;
}

.app {
  @include flexbox(row);
  @include boxsize(100vw, 100vh);
}

.left-sb, .right-sb {
  @include flexbox;
  @include boxsize(25%, 100%);
}

.mid-win {
  @include flexbox;
  @include boxsize(50%);
}
